# --- App Configuration ---
APP_MODE="local"
INDEXER=false
STATS_BOT=false

# --- Server Configuration ---
SERVER_PORT=8080
# Comma-separated list of allowed origins for CORS (e.g., "http://localhost:3000,https://example.com")
# * for all origins
ALLOWED_ORIGINS=http://localhost:5173

# --- Database ---
DATABASE_USER=user
DATABASE_PASS=pass
DATABASE=admarket
DATABASE_DSN="postgres://username:password@localhost:5432/admarket?sslmode=disable"

# --- Telegram Bot ---
# Telegram user ID of admin (receives auth codes when User Bot logs in). Comma-separated for multiple.
ADMINS_ID="11111111,22222222,0000000"
BOT_TOKEN=x
WEB_APP_URL=https://your-frontend-url.com

# Validation TTL InitData
INIT_DATA_EXPIRE=6h

 # --- Auth & Security ---
JWT_SECRET=supersecret
JWT_EXPIRE=6h

# Tsx indexer
TON_MAIN_NET=https://ton.org/global.config.json
TON_MASTER_MNEMONIC="word1 word2 word3 ... word24"


# --- User Bot (Stats Bot) ---
# Before enabling STATS_BOT: 1) Message the Text Bot at least once, 2) Set ADMINS_ID, 3) Add User Bot as channel admin.
APP_HASH=hash
APP_ID=id
PHONE_NUMBER=+number